.ranking {
    border-bottom: 1px solid #DDD;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.ranking-header-icon {
    padding-bottom: 15px;
}

.ranking-header {
    display: flex;
    align-items: center;
    height: 40px;
    border-width: 0;
    border-style: solid;
    border-color: #ddd;
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
}

.ranking img {
    width: 15px;
    height: 15px;
    margin-bottom: 3px;
}

.icon {
    width: 15px;
    height: 15px;
    margin-top: 15px;
}

#team1Players, #team2Players, #teamOptions {
    display: none;
}

.sec-color {
    color: #43b699;
}

#warningText {
    display:none; 
    color: #ff0000;
}

.deleteButton {
    cursor: pointer;
}

.ranking {
    font-size: 15px;
}

.team {
    font-size: 30px;
    word-break: break-all;
}

.smallX {
    font-size: 15px;
}

.click {
    transition: all .35s;
    transition-property: all;
    transition-duration: 0.35s;
    transition-timing-function: ease;
    transition-delay: 0s;
    font-size: 20px;
}

.click:hover, click:focus {
    cursor: pointer;
    color: #43b699;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-style: initial;
    text-decoration-color: initial;
    outline: 0;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px
}

#send, #back-button{
    outline: none;
}

@media(min-width:768px) {
    .click {
        font-size: 30px;
    }
    .ranking {
        font-size: 30px;
    }

    .team {
        font-size: 50px;
    }
    
    .smallX {
        font-size: 25px;
    }

    .ranking img {
        width: 30px;
        height: 30px;
    }
    
    .icon {
        width: 30px;
        height: 30px;
    }

    .text-header {
        font-size: 20px;        
    }
}