.ranking {
    border-bottom: 1px solid #DDD;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.ranking-header {
    display: flex;
    align-items: center;
    height: 40px;
    border-width: 0;
    border-style: solid;
    border-color: #ddd;
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
}

.click {
    transition: all .35s;
    transition-property: all;
    transition-duration: 0.35s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.click:hover, click:focus {
    cursor: pointer;
    color: #43b699;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-style: initial;
    text-decoration-color: initial;
    outline: 0;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px
}

.sec-color {
    color: #43b699;
}

.group {
    display: none;
    margin-top: 6%;
}

.ranking {
    font-size: 15px;
}

@media(min-width:768px) {
    .ranking-header {
        font-size: 20px;
    }
    
    .ranking {
        font-size: 30px;
    }
}