<!DOCTYPE HTML>
<html>
	<head>
        <link rel="stylesheet" href="/css/index.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
<body>
    <div class="container">
        <div class="row">
            <% for(var i = 0; i < teams.length; i++){%>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="sample">
                        <div class="overlay-image">
                            <a href="times/<%= teams[i].name %>">
                                <img class="image" src="https://images.pexels.com/photos/262524/pexels-photo-262524.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="<%= teams[i].name %>" />                        
                            </a>
                        </div>
                    </div>
                </div>
            <%}%>
        </div>
    </div>

</body>
</html>