<!DOCTYPE HTML>
<html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/teams/index.css">
    </head>
<body>
    <ul id="rig">
        <li>
            <a class="rig-cell"  href="/times/gol++">
                <span class="rig-img" style="background-image:url(/img/gol++.png);"></span>
                <h3>Gol++</h3>
                <span class="rig-overlay"></span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="#">
                <span class="rig-img" style="background-image:url(/img/horri.png);"></span>
                <h3>Horriver Plate</h3>
                <span class="rig-overlay"></span>
            </a>
        </li>
        <li>
            <a class="rig-cell" href="#">
                <span class="rig-img" style="background-image:url(/img/barc.png);"></span>
                <h3>Barcelombra</h3>
                <span class="rig-overlay"></span>
            </a>
        </li>
        <% for(var i = 0; i < teams.length; i++) { %>
            <li>
                <a class="rig-cell" href="/times/<%= teams[i].name %>">
                    <span class="rig-img" style="background-image:url(<%= teams[i].photo %>);"></span>
                    <h3><%= teams[i].name %></h3>
                    <span class="rig-overlay"></span>
                </a>
            </li>
        <% } %>
    </ul>
</body>
</html>