<!DOCTYPE HTML>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/index.css">
	</head>
<body>
	<div class="top">
			<div class="parallax"></div>
			<div class="parallax_text_box">
					<h1 class="title">COMPUTSAL</h1>
					<h2 class="subTitle">This is a subtitle</h2>
			</div>
	</div>
		
	<div class="container-fluid">
			
		<div class="row">

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 option">
					<a href="times">	
						<div class="container">
							<img class = "img_option" src="/img/soccerTeam.jpeg" alt="team" style="width:100%;">
							<div class="centered">Centered</div>
						</div>
					</a>
			</div>
			
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 option">
					<a href="times">	
						<div class="container">
							<img class = "img_option" src="/img/soccerTeam.jpeg" alt="team" style="width:100%;">
							<div class="centered">Centered</div>
						</div>
					</a>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 option">
					<a href="times">	
						<div class="container">
							<img class = "img_option" src="/img/soccerTeam.jpeg" alt="team" style="width:100%;">
							<div class="centered">Centered</div>
						</div>
					</a>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 option">
					<a href="times">	
						<div class="container">
							<img class = "img_option" src="/img/soccerTeam.jpeg" alt="team" style="width:100%;">
							<div class="centered">Centered</div>
						</div>
					</a>
			</div>

		</div>

	</div>

</body>

<script src="/js/index.js"></script>

</html>