img{
    max-width:100%;
    position:relative;
    line-height:100px;
    font-size:18px;
    overflow:hidden;
}

.parallax {
    /* The image used */
    background-image: url("/img/photos/3.jpg");
    filter: brightness(20%);
    opacity: 0.7;

    /* Set a specific height */
    min-height: 1000px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.parallax_text_box {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top {
    position: relative;
    z-index: 1;
}

.title {
    font-size: 8.5vw;
    color: 	#43b699;
}
.subTitle {
    font-size: 2.8vw;
    color: 	#272621;
}

.text_img {
    text-align: center;
    position: relative;
}

.option {
    margin-top: 5%;
}

.img_option {
    opacity: 0.3;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    text-align: center;
}