<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/home/index1.css" />
    </head>
    <body>
        <!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
            <img src="/img/logoGrande.png" width="10%" height="10%" alt="">
            <div id="navb" class="navbar-collapse collapse hide">
            
                <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="fas fa-user"></span> Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="fas fa-sign-in-alt"></span> Login</a>
                </li>
                </ul>
            </div>
        </nav> -->
        <ul class="cb-slideshow">
            <li><span>Image 01</span><div><h3>COMPUTSAL</h3><h2>Escrever algo legal aqui</h2></div></li>
            <li><span>Image 02</span><div><h3>COMPUTSAL</h3><h2>Escrever mais um algo legal aqui</h2></div></li>
            <li><span>Image 03</span><div><h3>COMPUTSAL</h3><h2>Outra coisa</h2></div></li>
            <li><span>Image 04</span><div><h3>COMPUTSAL</h3><h2>mais uma</h2></div></li>
            <li><span>Image 05</span><div><h3>COMPUTSAL</h3><h2>criatividade cade vc ?</h2></div></li>
            <li><span>Image 06</span><div><h3>COMPUTSAL</h3><h2>A ultima por favor</h2></div></li>
            
        </ul>


        <div class="container-fluid">
                <div class="clearfix">
                    <a href="times">
                        <div class="box">
                            <img src="/img/1.jpg"/>
                            <div class="centered">
                                <h1>TIMES</h1>
                                <!-- <h2>Acompanhe seu time de onde estiver</h2> -->
                            </div>
                        </div>
                    </a>
                    <a href="artilharia">
                        <div class="box">
                            <img src="/img/1.jpg"/>
                            <div class="centered">
                                <h1>ARTILHARIA</h1>
                                <!-- <h2>Veja sua coloção entre os melhores</h2> -->
                            </div>
                        </div>
                    </a>
                </div>

                <div class="clearfix">
                    <a href="jogosAnteriores">
                        <div class="box">
                            <img src="/img/1.jpg"/>
                            <div class="centered">
                                <h1>JOGOS ANTERIORES</h1>
                                <!-- <h2>Reveja os jogos com detalhe</h2> -->
                            </div>
                        </div>
                    </a>
                    <a href="grupos">
                        <div class="box">
                                <img src="/img/1.jpg"/>
                                <div class="centered">
                                    <h1>GRUPOS</h1>
                                    <!-- <h2>Veja o desempenho do seu time</h2> -->
                                </div>
                        </div>
                    </a>
                </div>

                <div class="clearfix">
                        <a href="proximosJogos">
                            <div class="box">
                                <img src="/img/1.jpg"/>
                                <div class="centered">
                                    <h1>PROXIMOS JOGOS</h1>
                                    <!-- <h2>Horarios e disputas que estao por vir</h2> -->
                                </div>
                            </div>
                        </a>
                        <a href="galeria">
                            <div class="box">
                                <img src="/img/1.jpg"/>
                                <div class="centered">
                                    <h1>FOTOS</h1>
                                    <!-- <h2>Registramos os melhores momentos</h2> -->
                                </div>
                            </div>
                        </a>
                </div>
        </div>

    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/home/index.js"></script>
</html>