<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Computsal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#first"> Computsal</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
					<li>
						<a class="page-scroll" href="#one">Campeonato</a>
					</li>
                    <li>
                        <a class="page-scroll" href="#two">Sobre</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#three">Contato</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" href="#login">
                            <% if (logged) { %> 
                                configurações 
                            <% } else { %>
                                Login
                            <% } %>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header id="first">
        <div class="header-content">
            <div class="inner">
                <h1 class="cursive">C o m p u t s a l</h1>
                <h4>O melhor torneio de futsal da UnB</h4>
            </div>
        </div>
    </header>
    <section class="container-fluid" id="one">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <h2 class="text-center text-primary">Campeonato</h2>
                
                <hr>
                <div class="media wow fadeInRight">
                    <a href="/times">
                        <h3>Times</h3>
                        <div class="media-body media-middle">
                            <p>Acompanhe o seu time de coração. Veja todos os detalhes do que está rolando.</p>
                        </div>
                        <div class="media-right">
                            <img src="/img/icons/team.png" width="70" height="70" class="icon-lg"/>
                        </div>
                    </a>
                </div>

                <hr>
                <div class="media wow fadeInLeft">
                    <a href="/artilharia">
                        <h3>Artilharia</h3>
                        <div class="media-left">
                            <img src="/img/icons/score.png" width="70" height="70" class="icon-lg"/>
                        </div>
                        <div class="media-body media-middle">
                            <p>Veja os melhores goleadores do campenato. E alguma coisa mais aqui.</p>
                        </div>
                    </a>
                </div>

                <hr>
                <div class="media wow fadeInRight">
                    <a href="/grupos">   
                        <h3>Grupos</h3>
                        <div class="media-body media-middle">
                            <p>Acompanhe a classificação do seu time. E escrever mais coisa aqui tbm</p>
                        </div>
                        <div class="media-right">
                                <img src="/img/icons/group.png" width="70" height="70" class="icon-lg"/>
                        </div>
                    </a>
                </div>

                <hr>
                <div class="media wow fadeInLeft">
                    <a href="/proximosJogos">
                        <h3>Próximos jogos</h3>
                        <div class="media-left">
                                <img src="/img/icons/nextMatch.png" width="70" height="70" class="icon-lg"/>
                        </div>
                        <div class="media-body media-middle">
                            <p>Não perca nenhum jogo, veja o horário dos próximos confrontros!</p>
                        </div>
                    </a>
                </div>

                <hr>
                <div class="media wow fadeInRight">
                    <a href="/jogosPassados">
                        <h3>Jogos Passados</h3>
                        <div class="media-body media-middle">
                            <p>Se você perdeu algum jogo, fiquei tranquilo! Temos todos os jogos com detalhes.</p>
                        </div>
                        <div class="media-right">
                            <img src="/img/icons/previousMatch.png" width="70" height="70" class="icon-lg"/>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </section>
    <section id="two" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="margin-top-0 text-primary">Informações</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="feature">
                        <img class="icon-lg wow fadeIn" data-wow-delay=".3s" src="/img/icons/rules.png" width="70" height="70"/>
                        <h3>Regulamento</h3>
                        <p class="text-muted">Veja as regras do computsal</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="feature">
                        <a href="https://www.facebook.com/computsal">
                            <img class="icon-lg wow fadeInUp" data-wow-delay=".2s" src="/img/icons/facebook.png" width="70" height="70"/>
                            <h3>Facebook</h3>
                            <p class="text-muted">Nos acompanhe pela nossa página oficial</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="feature">
                        <a href="/autor">
                            <img class="icon-lg wow fadeIn" data-wow-delay=".3s" src="/img/icons/author.png" width="70" height="70"/>
                            <h3>Autor</h3>
                            <p class="text-muted">Um pouco sobre o desenvolvedor</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="three">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="margin-top-0 wow fadeIn">Contato</h2>
                    <hr class="primary">
                    <p>Sinta se a vontade para mandar qualquer feedback ou fazer perguntas.</p>
                </div>
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <form class="contact-form row">
                        <div class="col-md-6">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Nome">
                        </div>
                        <div class="col-md-6">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <textarea class="form-control" rows="9" placeholder="Sua messagem..."></textarea>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <label></label>
                            <button type="button" class="btn btn-primary btn-block btn-lg">Enviar </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <a id="accountClick" class="page-scroll" data-toggle="modal" href="#accountModal" style="display:none;"></a>
    <div id="accountModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="accountModalText"></div>
                <div class="text-center">
                    <a href="/"><button class="btn btn-primary btn-lg" style="outline: none; width:50%; margin-top: 15px;" >Voltar</button></a>
                </div>
            </div>
        </div>
        </div>
    </div>

    <% if(logged) { %>
        <div id="login" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <% if(captain) { %>
                            <a href="/atualizarTime"><h2 class="text-center">Atualizar meu time</h2></a>
                            <a href="/agendarHorario"><h2 class="text-center">Agendar horario</h2></a>
                        <% } else { %>
                            <a href="/criarTime"><h2 class="text-center">Criar meu time</h2></a>
                        <% } %>
                        <% if(admin) { %>
                            <a href="/admin"><h2 class="text-center">Configurar campenato</h2></a>
                        <% } %>
                        <h2 onclick="logOutAccount()" style="color: #ce2029" class="text-center clickRed">Sair</h2>
                    </div>
                </div>
            </div>
        </div>
    <% } else { %>
        <div id="login" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h2 class="text-center">Entrar / Criar conta</h2>
                        <form class="contact-form row">
                            <div class="col-md-6">
                                <label></label>
                                <input id="emailAccount" type="text" class="form-control" placeholder="Email">
                            </div>
                            <div class="col-md-6">
                                <label></label>
                                <input id="passwordAccount" type="password" class="form-control" placeholder="Senha">
                            </div>
                            <div id="warningTextAccountDisplay" style="display: none;" class="col-md-12">
                                <label></label>
                                <h4 style="color: #ff0000;" id="warningTextAccount"></h4>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xs-6">
                                <label></label>
                                <h2 onclick="createAccount()" class="text-center clickGreen">Criar</h2>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xs-6">
                                <label></label>
                                <h2 onclick="logInAccount()" class="text-center clickGreen">Entrar</h2>
                            </div>
                            <div class="col-md-12">
                                <label></label>
                                <h4 onclick="forgetPassword()" class="text-center clickGreen">Esqueci minha senha</h4>
                            </div>
                        </form>
                        <form id="spinnerLogin" style="display: none;" class="contact-form row">
                            <div class="text-center">
                                <label></label>
                                <div class="lds-dual-ring"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
    <!--scripts loaded here -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/home/wow.js"></script>
    <script src="/js/home/index.js"></script>
  </body>
</html>