/* --- img selected and display --- */

.file-upload-content {
  text-align: center;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.image-group {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}

/* -------------------------------- */

.ranking {
  border-bottom: 1px solid #DDD;
  display: flex;
  align-items: center;
}

.jogador {
  display: flex;
  align-items: center;
  width: 100%;
  height: 78px;
}

.time {
  font-size: 15px;
  color: #43b699;
}

#newPlayer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.deleteButton {
  padding-top: 57px;
  height: 89px;
  width: unset;
  cursor: pointer;
}

.group {
  width: 100%;
  height: 110px;
  overflow: hidden;
  position: relative;
}

.require-text {
  font-size: 10px;
  color: #F31431;
  display: none;
}

input {
  display: block;
  width: 100%;
  padding-top: 36.66667px;
  border: none;
  border-radius: 0;
  color: white;
  background: #282828;
  font-size: 36.66667px;
  transition: 0.3s ease;
  cursor: text;
  font-size: 25px;
}

input:focus {
  outline: none;
}

input:focus ~ .bar:before {
  transform: translateX(0);
}

.bar {
  height: 1px;
  background: white;
  position: relative;
}

.bar:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 150%;
  background: #43b699;
  transform: translateX(-100%);
}

#newPlayer button {
  border: none;
  outline: none;
  border-color: #282828;
}

.btn:focus {
  outline: none;
}

#send {
  outline: none;
}

#deleteWarning {
  outline: none;
}

#resultModal button {
  outline: none;
}

#delete {
  outline: none;
}

button {
  outline: none;
}

  /* Place Holder CSS for Focus */
:hover::-webkit-input-placeholder {
  opacity: 0.75;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover:-moz-placeholder {
  opacity: 0.75;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover::-moz-placeholder {
  opacity: 0.75;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover:-ms-input-placeholder {  
  opacity: 0.75;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
  

:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-ms-input-placeholder {  
  opacity: 0;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}


@media(min-width:768px) {
  .require-text {
    font-size: 15px;
  }

  input {
    font-size: 30px;
  }
}
