<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Computsal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/nextMatches/index.css" />
  </head>
  <body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/"> Computsal</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" href="#login">
                            <% if (logged) { %> 
                                configurações 
                            <% } else { %>
                                Login
                            <% } %>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <section id="two">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="margin-top-0 text-primary">Próximos jogos</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">

            <% let seconds = 0 %>

            <% for (var i = 0; i < matches.length; i++) { %>
                <% if(seconds < 5) seconds++ %>
                <% let delay = "." + seconds + "s" %>
                <div class="ranking wow fadeIn" data-wow-delay="<%=delay%>">
                    <div class="jogador">
                        <div class="col-lg-5 col-md-5 col-xs-6">
                            <span class="time"><%= matches[i].team1 %></span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-6 text-center">
                            <span class="tempo"><%= matches[i].time.substring(0, matches[i].time.length - 3) %></span>
                        </div>
                        <div class="col-lg-5 col-md-5 col-xs-6 text-right">
                            <span class="time"><%= matches[i].team2 %></span>
                        </div> 
                    </div>
                </div>
            <% } %>
        </div>
        
    </section>
    
    <% if(logged) { %>
        <div id="login" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <% if(captain) { %>
                        <a href="/atualizarTime"><h2 class="text-center">Atualizar meu time</h2></a>
                        <a href="/agendarHorario"><h2 class="text-center">Agendar horario</h2></a>
                    <% } else { %>
                        <a href="/criarTime"><h2 class="text-center">Criar meu time</h2></a>
                    <% } %>
                    <% if(admin) { %>
                        <a href="/admin"><h2 class="text-center">Configurar campenato</h2></a>
                    <% } %>
                    <h2 onclick="logOutAccount()" style="color: #ce2029" class="text-center clickRed">Sair</h2>
                </div>
            </div>
            </div>
        </div>
    <% } else { %>
        <div id="login" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h2 class="text-center">Entrar / Criar conta</h2>
                        <form class="contact-form row">
                            <div class="col-md-6">
                                <label></label>
                                <input id="emailAccount" type="text" class="form-control" placeholder="Email">
                            </div>
                            <div class="col-md-6">
                                <label></label>
                                <input id="passwordAccount" type="password" class="form-control" placeholder="Senha">
                            </div>
                            <div id="warningTextAccountDisplay" style="display: none;" class="col-md-12">
                                <label></label>
                                <h4 style="color: #ff0000;" id="warningTextAccount"></h4>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xs-6">
                                <label></label>
                                <h2 onclick="createAccount()" class="text-center clickGreen">Criar</h2>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xs-6">
                                <label></label>
                                <h2 onclick="logInAccount()" class="text-center clickGreen">Entrar</h2>
                            </div>
                            <div class="col-md-12">
                                <label></label>
                                <h4 onclick="forgetPassword()" class="text-center clickGreen">Esqueci minha senha</h4>
                            </div>
                        </form>
                        <form id="spinnerLogin" style="display: none;" class="contact-form row">
                            <div class="text-center">
                                <label></label>
                                <div class="lds-dual-ring"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
    <!--scripts loaded here -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/home/wow.js"></script>
    <script src="/js/home/index.js"></script>
  </body>
</html>  